@model App.Models.MalfunctionModel
@{
    ViewData["Title"] = "Home Page";
    var Issues = ViewBag.Issues;
    var Malfunctions = ViewBag.Malfunctions;
    var selectedValue = 0;
    SelectList IssueList = new SelectList(Issues, "IssueId", "IssueId", selectedValue);
    SelectList MalfunctionList = new SelectList(Malfunctions, "MalfunctionId", "MalfunctionId");

}
<div class="row mr-5">
    <div class="col-sm" id="map" style="width: 100%;height: calc(100vh - 55px);position: relative;overflow: hidden;">
    </div>
    <div class="row mx-5">
        <div class="form-control my-3">
            <label asp-for="Issues.First().IssueId" class="control-label mx-3 my-2"></label>
            <select id="issueList" asp-items="@(IssueList)"
                    class="form-control" onchange="listRelaod()">
                <option value="wybierz">---Wybierz---</option>
            </select>
        </div>
        @*<div>
            <div class="col-sm">
                @Html.DisplayNameForDisplayNameFor(Issues.)
            </div>
            <div class="col-sm">
                @Html.DisplayNameFor(model => model.CharacterRole)
            </div>
            <div class="col-sm">
                @Html.DisplayNameFor(model => model.Trait)
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-secondary" />
            </div>
        </div>*@
        @*<div class="form-control my-3">
            <label asp-for="MalfunctionId" class="control-label mx-3"></label>
            <select asp-items="@(MalfunctionList)"
                    class="form-control">
                <option value="wybierz">---Wybierz---</option>
            </select>
        </div>*@
        @*@{var Issue = Issues.First(x => x.Id == selectedValue);}
        <div class="container">

            <div class="form-control">@item.Description</div>
            //image//
        </div>*@
    </div>

</div>
<script>

    function listRelaod() {
        var selects = document.getElementById("issueList");
        return selects.options[selects.selectedIndex].value;
    }

    var id = [];
    var lat = [];
    var lon = [];
    var date = [];
    var desc = [];
    @foreach (var item in ViewBag.Issues)
    {
        @:id.push("@item.IssueId");
        @:lat.push("@item.Latitude");
        @:lon.push("@item.Longitude");
        @:date.push("@item.Date");
        @:desc.push("@item.Description");
    }
    @foreach (var item in ViewBag.Malfunctions)
    {
        @:id.push("@item.Issue[0].IssueId");
        @:lat.push("@item.Issue[0].Latitude");
        @:lon.push("@item.Issue[0].Longitude");
        @:date.push("@item.Issue[0].Date");
        @:desc.push("@item.Issue[0].Description");
    }
    var map = L.map('map').setView([49.821944, 19.044444], 11);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var popups = [];
    var markers = [
        id,
        lat,
        lon,
        date,
        desc
    ];
    for (var i = 0; i < lat.length; i++) {
        var popup = L.popup().setContent("Zgłoszenie nr " + id[i] + "<br>" + desc[i]);
        popups.push(popup);
        L.marker([lat[i], lon[i]]).addTo(map)
            .bindPopup(popup);
    }

</script>
