@model List<App.Models.IssueModel>
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Home Page";

}
<div class="row mr-5">
    <div class="col-sm" id="map" style="width: 100%;height: calc(100vh - 55px);position: relative;overflow: hidden;">
    </div>
    <table class="col-sm table">
        <thead>
            <tr>
                <th class="col-2">
                    @Html.DisplayNameFor(model => model.First().Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Description)
                </th>
                <th class="col-1">
                    Pokaż
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="col-2">
                        @Html.DisplayFor(modelitem => item.Date.ToString("MM.dd.yyyy HH:mm"))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="col-1">
                        <button class="btn-secondary btn-popup" onclick="clickMarker(@item.IssueId)">Podgląd</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>

    function listRelaod() {
        var selects = document.getElementById("issueList");
        return selects.options[selects.selectedIndex].value;
    }
    function clickMarker(id) {
        $('img[alt='+id+']').click()
    }
    function maintain(id) {
        window.location.href = '@Url.Action("AddMalfunction", "Malfunction")/' + id;
    }
    function listPhotos(photos) {
        var result = "";
        console.log(photos);
        for (var i = 0; i < photos.length; i++) {
            console.log(photos[i]);
            if (photos[i] != undefined) {

                result = result + '<div class="col-sm-6 col-md-4 col-lg-3 item"><div style="padding-left:10px;display: block;min-width: 64px;min-height: 64px;">'+
                    '<a href = "get.image?img=' + photos[i] + '" data-lightbox="photos" > <img class="" style="width: 100%;height: 100%;border: solid;display: block;" src="get.image?img=' + photos[i] + '"></a></div ></div > '
            }

        }
        return result;
    }
    var id = [];
    var lat = [];
    var lon = [];
    var date = [];
    var desc = [];
    var state = [];
    var photo = [];
    @for (int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];
        @:id.push("@item.IssueId");
        @:lat.push("@item.Latitude");
        @:lon.push("@item.Longitude");
        @:date.push("@item.Date.ToString("MM.dd.yyyy HH:mm")");
        @:desc.push("@item.Description");
        @:state.push("@item.State");
        @:var i = ("@i");
        @if(item.Images.Count > 0) {
            @:photo[i] = [];
            @for (int j = 0; j < item.Images.Count; j++)
            {
                if(item.Images[j].Image != null)
                    {
                @:var j = ("@j");

                @:photo[i][j] = ("@item.Images[j].MultimediumId");
                @:console.log(photo[i][j]);
                    }
                }
            }
    }
        var map = L.map('map').setView([49.821944, 19.044444], 11);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var markers = [];
    for (var i = 0; i < id.length; i++) {
            var lista = ""
        if (photo[id[i] - 1] != undefined)
        {
            console.log(photo[id[i] - 1]);
            lista = listPhotos(photo[id[i] - 1]);
            lista.replace("undefined","");
        }
            var popup = L.popup().setContent(
                "<table>" +
                "<tr><th>Zgłoszenie</th></tr>" +
                "<tr><td>Zgłoszenie nr </td><td><b>" + id[i] + "</b></td></tr>" +
                "<tr><td>Opis </td><td><b>" + desc[i] + "</b></td></tr>" +
                "<tr><td>Data zgłoszenia </td><td><b>" + date[i] + "</b></td></tr>" +
                "</table>" +
                '<div class="row"><div class="photo-gallery"><div class="container"><div class="row photos">' +
                lista
                +
                '</div></div></div></div>'+
                '<button class="btn-secondary btn-popup" onclick="maintain('+id[i]+')">Obsłuż</button>'
            );
        var marker = L.marker([lat[i], lon[i]], { alt: id[i] })
        markers.push(marker);
        marker.addTo(map)
            .bindPopup(popup);

    }

</script>
